.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Khung modal */
.add-modal {
  background: white;
  width: 500px;
  max-width: 95%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Nội dung modal */
.add-modal__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.add-modal h2 {
  margin: 0 0 10px 0;
  color: #2c3e50;
  text-align: center;
}

/* Style chung cho các input */
.add-modal__content label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  color: #34495e;
}

.add-modal__content input,
.add-modal__content select {
  padding: 7px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s;
}

.add-modal__content input:focus,
.add-modal__content select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

/* Radio button group */
.gender-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radio-option input[type="radio"] {
    margin: 0;
    width: auto;
}

/* Nút thêm và đóng */
.modal-actions{
    display: flex;
  justify-content: space-between;
}

.add-modal__content button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  align-self: flex-end;
}

.add-modal__content button:hover:first-child{
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}

.add-modal__content button:hover:last-child{
  background-color: green;
  color: white;
  border-color: green;
}