.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 250px; 
    min-width: 250px;
    height: 100vh;
    position: fixed; 
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.route-content {
    margin-left: 250px; 
    width: calc(100% - 250px);

}

.route-content__welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f8;
    height: 100vh;
}

.route-content__welcome h1 {
    color: blue;
}