/*file này dùng để copy paste CSS, vì nếu vừa import file vừa style scoped sẽ dễ bị xung đột*/

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

th, td {
    padding: 8px 1px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: linear-gradient(to bottom, #3c8dbc, #367fa9);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}