* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
}

h1{
	color: #007bff;
    text-align: center;
	font-size: 28px;
	margin-bottom: 5px;
}

h2{
	font-size: 18px;
}

th{
	font-size: 12px;
}